#build files
build/
**/CMakeFiles
CMake**
cmake**
!CMakeLists.txt
Makefile

#binary files
*.a
*.o

#editor dir
**/.vscode
**/.vs
**/.cache/
compile_commands.json
apply_clang-tidy.sh
*.fix

#log files
*.log

#rendering results
*.png
*.mkv
*.mp4
!logo.png
/resutls/
